* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#vh1,
#cnbc,
#cc,
#history {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
